extends ../layout

block content
  if publish.ext
   .card.col-md-10.ml-auto.mr-auto
    .h2.text-center #{publish.title}
    .card-body.col-md-9.ml-auto.mr-auto
      h3.mr-auto.ml-auto(style="margin-left: 4%;") #{publish.description}
    .card-body
           
        .text-center
          // img.img-fluid(src='/upload/#{publish.filename}')
          
          - var extension = publish.ext
            
            case extension
            
              when '.png'
                img.img-fluid.card-body.col-md-8(src="/upload/#{publish.filename}")
              when '.jpg'
                img.img-fluid.card-body.col-md-8(src="/upload/#{publish.filename}", style="width: 80%;")
              when '.jpeg'
                img.img-fluid.card-body.col-md-8(src="/upload/#{publish.filename}")
              when '.gif'
                img.img-fluid.card-body.col-md-8(src="/upload/#{publish.filename}")
              when '.mp4'
                video.card-body.col-md-8(src="/upload/#{publish.filename}", controls, muted, style="width: 100%", autoplay)
              when '.webm'
                video.card-body.col-md-8(src="/upload/#{publish.filename}", controls, muted, style="width: 100%", autoplay)
              when '.ogv'
                video.card-body.col-md-8(src="/upload/#{publish.filename}", controls, muted, width="100%", autoplay)
              when '.mp3'
                video.card-body.col-md-8(style="margin-top:-21%",src="/upload/#{publish.filename}", controls, width="100%", poster="/images/mp3.jpg")
              when '.ogg'
                video.card-body.col-md-8(src="/upload/#{publish.filename}", controls, width="100%", poster="/images/ogg.jpg")
              when '.pdf'
                a(href="/upload/#{publish.filename}")
                 img.col-md-1(src="/images/logo.png", width="50%")
                a(href="/upload/#{publish.filename}")
                  p Descargar #{publish.filename}
              when '.txt'
                a(href="/upload/#{publish.filename}")
                 img.col-md-1(src="/images/logo.png", width="50%")
                a(href="/upload/#{publish.filename}")
                  p Descargar #{publish.filename}
              when '.odt'
                a(href="/upload/#{publish.filename}")
                 img.col-md-1(src="/images/logo.png", width="50%")
                a(href="/upload/#{publish.filename}")
                  p Descargar #{publish.filename}
              when '.docx'
                a(href="/upload/#{publish.filename}")
                 img.col-md-1(src="/images/logo.png", width="50%")
                a(href="/upload/#{publish.filename}")
                  p Descargar #{publish.filename}
              when '.doc'
                a(href="/upload/#{publish.filename}")
                 img.col-md-1(src="/images/logo.png", width="50%")
                a(href="/upload/#{publish.filename}")
                  p Descargar #{publish.filename}
              when '.3gp'
                a(href="/upload/#{publish.filename}")
                 img.col-md-1(src="/images/logo.png", width="50%")
                a(href="/upload/#{publish.filename}")
                  p Descargar #{publish.filename}
              when '.zip'
                a(href="/upload/#{publish.filename}")
                 img.col-md-1(src="/images/logo.png", width="50%")
                a(href="/upload/#{publish.filename}")
                  p Descargar Archivo
           
       .form-group.text-center
        button#btn-delete.btn.btn-danger.mr-auto(style="margin-left:-3%",data-id='#{publish.external_id}')
          |  Eliminar
        button#btn-like.btn.btn-success.ml-auto(style="margin-rigth:99%",data-id='#{publish.external_id}')
          i.fas.fa-thumbs-up
          |  Me gusta 
      .card-footer.d-flex.justify-content-between.align-items-center
        p(style="margin-left:0%")
          span.likes-count #{publish.likes}   
          i.fas.fa-heart     
        p(style="margin-left:10%")
          i.fas.fa-eye
          |  #{publish.views}   
        p(style="margin-left:10%")
          i.far.fa-clock
          | #{timeago}
        
    
    
    // COMMENTS
    .container.mt-2
      .d-flex.justify-content-between.align-items-center
        h3 Comentarios   
        button#btn-toggle-comment.btn.btn-info
          i.fa.fa-comments-o
          |  Comentar
      .card-body
        blockquote#post-comment
          form(action='/publicacion/#{publish.external_id}/comment', method='POST')
            .form-group
              input.form-control(type='text', name='person', placeholder='Nombre')        
            .form-group
              textarea.form-control(name='comment', rows='2', placeholder='Su comentario')        
            .form-group
              button#btn-comment.btn.btn-success
                i.fa.fa-comment
                |  Postear  
        ul.list-group.p-4
        
         each val in comment
           li.list-group-item
            .row
              a.col.text-center(href='#')
                img(src='http://gravatar.com/avatar/{gravatar}?d=monsterid&s=45')          
              blockquote.col
                p.lead #{val.comment}      
                footer.blockquote-footer
                |  #{val.person} - #{val.timestamp}
  else
    
   
    .d-flex.justify-content-between.align-items-center
        h2 #{publish.title}    
        button#btn-delete.btn.btn-danger(data-id='#{publish.external_id}')
          i.fa.fa-times
          |  Eliminar 
      .card-body
        h3.text-center #{publish.publish}   
      .card-footer.d-flex.justify-content-between.align-items-center
        button#btn-like.btn.btn-success(data-id='#{publish.external_id}')
          i.fas.fa-thumbs-up
          |  Me gusta   
        p
          span.likes-count #{publish.likes}   
          i.fas.fa-heart     
        p
          i.fas.fa-eye
          |  #{publish.views}   
        p
          i.far.fa-clock
          | #{timeago}
    // COMMENTS
    .card.col-md-10.mt-2.ml-auto.mr-auto
      .d-flex.justify-content-between.align-items-center
        h3 Comentarios   
        button#btn-toggle-comment.btn.btn-info
          i.fa.fa-comments-o
          |  Comentar
      .card-body
        blockquote#post-comment
          form(action='/publicacion/#{publish.external_id}/comment', method='POST')
            .form-group
              input.form-control(type='text', name='person', placeholder='Nombre')        
            .form-group
              textarea.form-control(name='comment', rows='2', placeholder='Su comentario')        
            .form-group
              button#btn-comment.btn.btn-success
                i.fa.fa-comment
                |  Postear  
        ul.list-group.p-4
        
         each val in comment
           li.list-group-item
            .row
              a.col.text-center(href='#')
                img(src='http://gravatar.com/avatar/{gravatar}?d=monsterid&s=45')          
              blockquote.col
                p.lead #{val.comment}      
                footer.blockquote-footer
                |  #{val.person} - #{val.timestamp}
                    
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/bootstrap.js')
